html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  background-color: silver;
  font-family: Tahoma, Helvetica, sans-serif;
}

h1 {
	color: #785616;
	margin: 0 0 5px 0;
}
	
#container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

header {
	background-color: #FFB4B0;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	border: 2px solid #000;
}

#yellowbox ul {
	padding: 0;
	margin-top: 0;
}

nav ul {
	padding: 0 2%;
}

nav a:last-child li,
.entry li:last-child {
	border-right: 0;
}

nav li, li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
	padding-right: 20px;
	border-right: 1px solid #000;
}

a:link, a:visited {
	color: #ff6666;
}

a:hover, a:active {
	color: #fff;
}

#secondrow {
	margin-top: 20px;
}

#bluebox {
	background-color: #4DD7FA;
	padding: 2%;
	width: 40%;
	height: 424px;
	float: left;
}

fieldset {
	border: 0;
	border-bottom: 1px solid #006699;
	padding: 20px 0;
}

form fieldset:first-child {
	padding-top: 0;
}

legend {
	padding-top: 20px;
}

label {
	margin-right: 5px;
}

label, legend {
	font-weight: bold;
}

input[type="submit"] {
	background-color: #006699;
	color: #fff;
	font-size: 1.2em;
	border: 2px solid #fff;
	padding: 5px 10px;
	border-radius: 10px;
	margin-top: 20px;
}

#yellowbox {
	background-color: #FEFAC0;
	padding: 2%;
	width: 52%;
	margin-left: 44%;
}

.entry {
	margin-bottom: 20px;
	padding: 10px 0 0 20px;
	background-color: rgba(120, 86, 22, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(120, 86, 22, 0.4);
}

#yellowbox div.entry:last-child {
	margin-bottom: 0;
}
