html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  background-color: silver;
  font-family: Tahoma, Helvetica, sans-serif;
}

h1 {
	color: #785616;
	margin-top: 0;
}

#container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

header {
	background-color: #FFB4B0;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

nav ul, ul {
	padding: 0 2%;
}

nav a:last-child li {
	border-right: 0;
}

nav li, li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
	padding-right: 20px;
	border-right: 1px solid #000;
}

a:link, a:visited {
	color: #000	;
}

a:hover, a:active {
	color: #fff;
}

#secondrow {
	margin-top: 20px;
}

#bluebox {
	background-color: #4DD7FA;
	padding: 2%;
	width: 40%;
	float: left;
}

#yellowbox {
	background-color: #FEFAC0;
	padding: 2% 0 0 3%;
	width: 52%;
	margin-left: 44%;
}

