html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  font-family: Tahoma, Helvetica, sans-serif;
  margin: 0;
}

h1 {
	color: #785616;
	margin: 0 0 5px 0;
}
	
#container {
	width: 80%;
	margin: 0 auto;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

header {
	background-color: #FFB4B0;
	position: fixed;
	top: 0;
	border-top: 0;
	width: 80%;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	text-align: center;
}

#yellowbox ul {
	padding: 0;
	margin-top: 0;
}

nav {
	border: 2px solid #000;
}

nav ul {
	padding: 0 2%;
}

/*nav a:last-child li,
.entry li:last-child {
	border-right: 0;
}*/

nav li, li {
	list-style-type: none;
	display: inline-block;
/*	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #000;*/
	font-weight: bold;
}

a:link, a:visited {
	color: #ff6666;
	padding: 16px 20px;
	margin: 0;
	transition: 1s;
}

a:hover, a:active {
	color: #fff;
	background-color: rgba(255,102,102,0.4);
	padding: 16px 30px;
}

#secondrow {
}

#bluebox {
	background-color: #4DD7FA;
	padding: 2%;
	border: 2px solid #000;
	border-top: 0;
	width: 35%;
	float: left;
}

fieldset {
	border: 0;
	border-bottom: 1px solid #006699;
	padding: 20px 0;
}

form fieldset:first-child {
	padding-top: 0;
}

legend {
	padding-top: 20px;
}

label {
	margin-right: 5px;
}

label, legend {
	font-weight: bold;
}

output {
	margin-left: 5px;
	width: 30px;
	padding: 5px 8px;
	border: 1px solid #006699;
	text-align: center;
	display: inline-block;
}

input[type="submit"] {
	background-color: #006699;
	color: #fff;
	font-size: 1.2em;
	border: 2px solid #fff;
	padding: 5px 10px;
	border-radius: 10px;
	margin-top: 20px;
}

.buttoncenter {
	text-align: center;
}

input[type="radio"] {
	margin-right: 10px;
}

#column1 {
	float: left;
}

#column2 {
	margin-left: 50%;
}

#yellowbox {
	background-color: #FEFAC0;
	padding: 2%;
	border: 2px solid #000;
	border-top: 0;
	border-left: 0;
	width: 56.3%;
	margin-left: 39.4%;
}

.entry {
	margin-bottom: 20px;
	padding: 20px 20px;
	background-color: rgba(120, 86, 22, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(120, 86, 22, 0.4);
}

.entry > div {
	opacity: 0.3;
	cursor: pointer;
	transition: 1s;
}

.entry > div:hover {
	opacity: 1.0;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.entry :nth-child(2n+0) {
	background-color: #FFF5EE;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	border: 1px solid #FFB4B0;
}

.entry :nth-child(2n+1) {
	background-color: #F5FFFA;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	border: 1px solid #FFB4B0;
}

.entry :first-child {
	font-weight: bold;
}

/*#yellowbox div.entry:last-child {
	margin-bottom: 0;
}*/

#yellowbox div:last-child {
	margin-bottom: 0;
}

.hidden {
	visibility: hidden;
	position: static;
}

footer {
	padding: 20px;
}
