{{#each songs}}
<div class='entry'>
	
	<button type='button' class='delete btn'>X</button>

	<h1>{{title}}</h1>
	
	<ul>
		<li>{{artist}}</li>&nbsp; | &nbsp;<li>{{album}}</li>
	</ul>
	
</div>
{{/each}}